.userReview{
margin-left: 10px;

}
.userPaper{
    padding: 10px;
}
.favoriteCards{
    padding: 20px;
    width: 400px;
    height: 200px;
    margin: 20px;
    
}

#favTitle{
   font-weight: 600;
   font-size: larger;
}