#barberList{
    margin-bottom: 40px;
    margin-left: 46%;

}
h2:hover{
    cursor: pointer;
}
.avatar:hover{
    cursor: pointer;
}

.MuiAvatar-root{
    justify-content: center;
    margin: 20px;
}
.MuiPaper-root{
display: 'flex'
}
a:link{
    color: #44544e;
    text-decoration: underline;
}
a:visited{
    color:rgba(0, 0, 0, 0.517)
}