p.about {
    margin: 100px;
    font-size: larger;
    line-height: 1.6;
}

#background{
    display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#aboutTitle{
    margin-left: 100px;
}